[submodule "backend/deps/json"]
	path = backend/deps/json
    url = https://github.com/nlohmann/json
    ignore = dirty
[submodule "backend/deps/hiredis"]
	path = backend/deps/hiredis
	url = https://github.com/redis/hiredis
    ignore = dirty
[submodule "backend/deps/uWebSockets"]
	path = backend/deps/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets
    ignore = dirty
[submodule "backend/deps/capnproto"]
	path = backend/deps/capnproto
	url = https://github.com/sandstorm-io/capnproto
    ignore = dirty
