[submodule "backend/deps/json"]
	path = backend/deps/json
    url = https://github.com/nlohmann/json
    ignore = dirty
[submodule "backend/deps/uWebSockets"]
	path = backend/deps/uWebSockets
	url = https://github.com/uWebSockets/uWebSockets
    ignore = dirty
[submodule "backend/deps/libscrypt"]
	path = backend/deps/libscrypt
	url = https://github.com/technion/libscrypt
[submodule "backend/deps/--force"]
	path = backend/deps/--force
	url = https://github.com/sandstorm-io/capnproto
[submodule "backend/deps/capnproto"]
	path = backend/deps/capnproto
	url = https://github.com/sandstorm-io/capnproto
[submodule "backend/deps/spdlog"]
	path = backend/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "backend/deps/kingdb"]
	path = backend/deps/kingdb
	url = https://github.com/matovitch/kingdb
[submodule "backend/deps/xxHash"]
	path = backend/deps/xxHash
	url = https://github.com/Cyan4973/xxHash
