.MainView
{
  margin: auto;
  width: 15em;
  padding: 20em;
  margin-top: 15em;
}

.LogInSignIn
{
  display:block;
  width:100%;
  margin:auto;
}

.LogInSignIn > button
{
  display: inline;
  width: 48%;
  text-align: center;
  margin: 1%;
}

form
{
  width:100%;
}

form input
{
  display:block;
  width:94%;
  margin:auto;
}

button
{
  border: none;
  border-radius: 4px; 
  background-color: #4CAF50;
  color: white;
  height: 2em;
}

form + button
{
  display: block;
  width:100%;
  margin:auto;
  margin-top:.1em;
}

button::-moz-focus-inner {
  border: 0;
}

button:hover
{
  background-color: #3E8E41;
}